header {
    border-bottom: 0.6px solid #f2f2f2;
    font-family: Arial, sans-serif;
}
#header-top {
    height: 65px;
    position: sticky;
}
#top-left {
    float: left;
    display: flex;
    padding-left: 30px;
    align-items: center;
}
#google-logo {
    width: 92px;
    height: 30px;
}
form {
    padding-left: 27px;
}
#search {
    width: 690px;
    height: 44px;
    border: 0.5px solid #f2f2f2;
    border-radius: 30px;
    padding-left: 27px;
}
#top-right {
    float: right;
    display: flex;
    right: 20px;
    align-items: center;
}
#google-apps {
    width: 23px;
    height: 23px;
    margin: 12px;
    background-color: dimgray;
}
#user-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
}
#top-left,#top-right {
    position: absolute;
    bottom: 0px;
}
#search:focus{
    box-shadow: 0px 0px 5px lightgray;
}
#search:hover {
    box-shadow: 0px 0px 5px lightgray;
}
#user-pic:hover {
    box-shadow: 0px 0px 1px gray;
}


#header-bottom {
    width: 100%;
    height: 58px;
    font-size: 13px;
}
#header-bottom a{
    text-decoration: none;
    color: #5F6368;
}
#settings {
    width: 714px;
    height: 58px;
}
#main-nav {
    width: 502.547px;
    height: 58px;
}
#settings-flex {
    height: 58px;
    display: flex;
    float: right;
    align-items: center;
}
#main-nav-flex {
    height: 58px;
    display: flex;
    float: right;
    align-items: center;
}
.nav-flex-items {
    padding: 16px 12px 12px 10px;
}
#all {
    border-bottom: 3px solid blue;
}



#header-results {
    height: 43px;
    padding-left: 180px;
}
#header-results  p {
    font-size: 14px;
    height: 43px;
    font-family: Arial, sans-serif;
    color: #70757A;
    width: fit-content;
    display: table-cell;
    vertical-align: middle;
}